<div class="header">
  <h3 class="text-muted">a storytelling game web client</h3>
</div>
<div class="container">
<div class="row">
  <div class="well col-md-4 player-list">
    <div class="header">Players</div>
    <div ng-repeat="player in gameState.players" class="player">{{player.name}}: {{player.score}} points</div>
  </div>
  <div class="col-md-8 console">
    <div>
      <p ng-repeat="line in consoleText">{{line}}</p>
    </div>
    <form ng-submit="send()"><input ng-model="currentInput"></form>
  </div>
</div>
</div>